/*Gobales*/
:root
{
    --primary-color: rgb(80, 173, 255);
    --secondary-color: rgb(0, 201, 107);
    --text-color: #9f9f9f;
    --light : #fff;
    --background-color:#1d1d1d;
    --foreground-color: #292929;
    --radius: 0.6rem;
    --shadow : 0 9px 8px -2px rgba(0,0,0,0.3);
    --transition-speed: 0.6s;
    --gradient: linear-gradient(140deg, var(--primary-color) 0%, var(--secondary-color) 100%);
}
* {
    box-sizing: border-box;
    transition-duration: var(--transition-speed);
}
/* uils*/
/* barre horizontal de décoration */
.slice
{
    z-index:2;
    position:absolute;
    height:100%;
    width: 100%;
    transform: skewY(-32deg);
    background-color: var(--foreground-color);
}
.bis
{
    transform: skewY(16deg);
    background: var(--secondary-color);
    opacity: 10%;
    height: 51%;
}
/**/
/*layout*/
html, body
{
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: sans-serif;
}
.page_container
{
    z-index: 3;
    position: relative;
    margin: 0 auto;
    max-width: 1000px;
    padding: 0.5rem 2rem;
}
/*Blocc nom + métier*/
.hero
{
    background-size: cover;
    background-position: center;
    height: 50vh;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.hero .name
{
    font-size: 2.5rem;
    color:var(--light);
}
/*
.hero .exergue
{
    font-weight: bold;
    font-size: 4rem;
    background-image: var(--gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
*/
.hero span.exergue
{
    font-weight: bold;
    font-size: 4rem;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    background-image: var(--gradient);
}
/*Menu*/
.menu
{
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: sticky;
    top:0;
    width: 100%;
    padding:20px 0;
    background-color: var(--background-color);
    border-bottom: rgba(255, 255, 255, 0.2) 1px solid;
}

.menu a
{
    text-decoration: none;
    color: var(--text-color);
    margin: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: large;
    text-align: center;
}
.menu a:hover, .menu a.hover_js
{
    color:var(--primary-color);
}
/*Titre des section*/
.heading
{
    padding-bottom:20px;
    font-size: 1.8rem;
    height: 50px;;
    font-weight: bold;
    color: var(--light);
}
.subcategory
{
    width: 100%;
    font-weight: bold;
    font-size: 1.45rem;
    margin: 36px 0 0 0;
}
.section
{
    margin-top: 144px;
}
.section:hover > .heading, .selection .hover_js > .heading
{
    font-size: 2rem;
}
/*Sous lignages des titres de section */
.subline
{
    width:40%;
    height:7px;
    /*background-color: var(--primary-color);*/
    background: var(--gradient);
    
}
div:hover > .subline, div.hover_js > .subline
{
    width:45%;
    background-color: var(--primary-color);
}
/*conteneur des listes*/
.list_container
{
    display: flex;
    flex-wrap: wrap;
}
/*Item de list container*/
.list_item
{
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    padding: 2rem 0;

}
/*
.list_item:hover > .what, .list_item.hover_js > .what
{
    font-size: 1.6rem;
    color:var(--light);
}
*/
.list_item:hover > .what, .list_item.hover_js > .what
{
    color: var(--light);
    font-size: 1.55rem;
}
.list_item > div, time
{
    padding:5px 0;
}
/* liste "quoi" "ou" "temps" */
.what
{
    margin: 10px 0;
    font-weight: bold;
    font-size: x-large;
    height: 35px;
}
.where
{
    margin: 10px 0;
    font-size: large;
    color: var(--text-color);
}
time
{
    font-size: larger;
    color:var(--text-color);
    opacity: 0.7;
}
/*badge des hobbies et frameworks*/
.badge-cards
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.badge-cards > div
{
   padding:20px;
   margin-right:20px;
   margin-top:20px;
   border-radius: 10px;
   background-color: var(--foreground-color);
   font-size: large;
   box-shadow: var(--shadow);
   
}
/*Call 2 action du bas "Contactez moi"*/
.cta span
{
    margin:20px 0;
}

.cta
{
    background: var(--foreground-color);
    border-radius: var(--radius);
    margin:50px 0;
    padding:50px;
    text-align: center;
    width: 100%;
    box-shadow: var(--shadow);
}
.cta .links
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.cta a
{
    text-decoration: none;
    color:var(--light);
    margin: 20px;
    padding:20px;
    text-transform: uppercase;
    font-size: medium;
    font-weight: bold;
    text-align: center;
    border-radius: var(--radius);
    background-color: rgba(255,255,255,.1);
}
.cta a:hover, .cta a.hover_js
{
    background-color: var(--secondary-color);
}
/*
- media queries
- suppression des effets opacité réduite / hover, 
- qui ne sont pas terribles sur mobile
- aggrandissement du hero a environ 100vh
- cache le menu, ca prend de la place et c'est pas jolie sur téléphone
- Pas de hauteurs fixent sur les textes animées, ca pose des soucies de sauts de ligne sur mobile
*/

@media screen and (max-width: 750px)
{
    .hero
    {
        height: 100vh;
    }
    .menu
    {
        position: static;
        display: none;
    }
    .menu a
    {
        width: 100%;
        text-align: center;
    }
    .heading
    {
        height: fit-content;
    }
    .what
    {
        height: fit-content;
    }
    .hero span.exergue
    {
        font-size: 2.75rem;
    }
    .hero span.name
    {
        font-size: 1.75rem;
    }
}